/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font), sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight);
}

.background-gradient {
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block: 99px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  inline-size: var(--main-width);
  block-size: clamp(327px, 40vh, 368px);
}

.header__text {
  vertical-align: bottom;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

.header__text-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__text-subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-block-end: 50px;
  max-inline-size: var(--main-width);
}

.card {
  width: 100%;
  border: var(--main-color) 2px solid;
  background-color: var(--bg-color);
}

.card__header {
  margin: 6px 10px;
  vertical-align: middle;
  font-size: 18px;
  line-height: 100%;
  font-variation-settings: "wght" var(--main-font-weight-heading);
}

@media (width<=800px) {
  .main :first-child .card__header {
    line-height: 120%;
  }
}

.card__image {
  width: 100%;
  object-fit: fill;
  aspect-ratio: 1;
}

.card__image-container {
  position: relative;
}

.card__image-watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  vertical-align: middle;
  opacity: 0.5;
  color: var(--main-color);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
    1px 0 var(--bg-color), 0 -1px var(--bg-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .card__image-watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-weight: var(--main-font-weight);
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: "wght" var(--main-font-weight);
}

.card__conten {
  display: grid;
  gap: 25px;
  padding: 25px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 4px;
  align-self: end;
}

.card__icon-button {
  height: 38px;
  border: solid transparent 2px;
  padding: 0;
  outline: none;
  background: none;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: solid black 2px;
  transition: border 0.3s ease;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--main-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation-name: heart;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.sparks {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.like-icon.is-liked .sparks {
  animation-name: sparks;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.buttons:has(.like-icon:hover) .core {
  fill: var(--main-color);
  transition: fill 0.3s linear;
}

.buttons:has(.like-icon:hover) .main-body {
  fill: var(--main-color);
  transition: fill 0.3s 0.05s linear;
}

.buttons:has(.like-icon:active) .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.buttons:has(.card__icon-button:active) .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.05s linear;
}

.buttons .like-icon.is-liked .core {
  fill: var(--heart-color);
}

.buttons .like-icon.is-liked .main-body {
  fill: var(--heart-color);
}

.buttons .like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill 0.3s 0.06s linear;
}

.card__like-button {
  border: 2px var(--main-color) solid;
  padding: 2px;
  background-color: var(--bg-color);
  inline-size: 130px;
  block-size: 38px;
}

.button-dedecorate {
  position: relative;
  box-shadow: none;
  outline: none;
  overflow: hidden;
  color: var(--main-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card:has(.button-dedecorate:hover) .button-dedecorate::before {
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.footer:has(.button-dedecorate:hover) .button-dedecorate::before {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.insert__floppy:has(.button-dedecorate:hover) .button-dedecorate::before {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.button-dedecorate::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  transform: translateX(-100%);
  mix-blend-mode: difference;
}

.button-dedecorate:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.button__text-font {
  position: relative;
  z-index: 1;
  color: var(--bg-color);
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.footer {
  margin-block-end: 100px;
}

.button__save {
  display: flex;
  gap: 8px;
  border: 2px solid var(--main-color);
  padding: 16px 18px;
}

@media (width<500px) {
  .button__save {
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 14px 18px;
  }
}

.button__save-floppy {
  width: 21px;
  height: 21px;
}

@media (width<500px) {
  .button__save-floppy {
    width: 28px;
    height: 28px;
  }
}

.button__save-text {
  padding-block-start: 4px;
}

.insert__floppy {
  border: var(--main-color) solid 2px;
  padding: 28px;
  inline-size: 353px;
  block-size: 192px;
}

.insert__floppy::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.insert__floppy-body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.insert__floppy-content {
  display: flex;
  gap: 20px;
}

.insert__floppy-text {
  padding-top: 1px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.insert__floppy-floppy {
  width: 58px;
  height: 61px;
}

.insert__floppy-button {
  border: var(--main-color) solid 2px;
  padding: 9px 17px;
  inline-size: 293px;
  block-size: 38px;
}

.zero_sprint {
  filter: saturate(300%);
}

.ono-tebe-nado-beginning {
  filter: sepia(0.6);
}

.ono-tebe-nado-end {
  filter: hue-rotate(0.5turn);
}

.posmotri-v-okno-beginning {
  filter: blur(3px);
}

.posmotri-v-okno-end {
  filter: contrast(200%);
}

.slozhno-sosredotochitsya-beginning {
  filter: grayscale(80%);
}

.slozhno-sosredotochitsya-end {
  filter: invert(70%) drop-shadow(0 3px #ff0070);
}
