/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font, "Inter-Variable"), sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight, 410);
}

.background-gradient {
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block: 98px;
  border: 2px solid var(--main-color, #000);
  padding: 129px 0;
  background-color: var(--bg-color, #fff);
  inline-size: var(--main-width);
}

@media (width<400px) {
  .header {
    padding: 121px 0;
  }
}

.header__text {
  vertical-align: bottom;
  font-family: var(--accent-font, "Press Start 2P"), sans-serif;
  line-height: 100%;
  text-transform: uppercase;
}

.header__text-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__text-subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-block-end: 100px;
  max-inline-size: var(--main-width);
}

.card {
  width: 100%;
  border: var(--main-color, #000) 2px solid;
  background-color: var(--bg-color, #fff);
}

.card__header {
  margin: 6px 10px;
  vertical-align: middle;
  font-size: 18px;
  line-height: 100%;
  font-variation-settings: "wght" var(--main-font-weight-heading, 710);
}

/* @media (width<=800px) {
  .main :first-child .card__header {
    line-height: 120%;
  }
} */
 /* Для проверки через PP */

.card__image {
  display: block;
  width: 100%;
  aspect-ratio: 1;
}

.card__image-container {
  position: relative;
  border-block-start: 2px solid var(--main-color, #000);
  border-block-end: 2px solid var(--main-color, #000);
}

.card__image-watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  vertical-align: middle;
  opacity: 0.5;
  color: var(--main-color, #000);
  font-family: var(--accent-font, "Press Start 2P"), sans-serif;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--bg-color, #fff), 0 1px var(--bg-color, #fff),
    1px 0 var(--bg-color, #fff), 0 -1px var(--bg-color, #fff);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--bg-color, #fff)) or
    (-webkit-text-stroke: 1px var(--bg-color, #fff))
) {
  .card__image-watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color, #fff);
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: "wght" var(--main-font-weight, 410);
}

.card__conten {
  display: grid;
  gap: 25px;
  padding: 25px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 6px;
  align-self: end;
}

.card__icon-button {
  height: 38px;
  border: none;
  padding: 0;
  outline: solid transparent 2px;
  outline-offset: -2px;
  background: none;
  transition: outline 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline: solid black 2px;
  outline-offset: -2px;
  transition: outline 0.3s ease;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--main-color, #000);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation-name: scale;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.sparks {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.like-icon.is-liked .sparks {
  animation-name: blink;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.buttons-container:has(.like-icon:hover) .core {
  fill: var(--main-color, #000);
  transition: fill 0.3s linear;
}

.buttons-container:has(.like-icon:hover) .main-body {
  fill: var(--main-color, #000);
  transition: fill 0.3s 0.05s linear;
}

.buttons-container:has(.like-icon:active) .core {
  fill: var(--heart-color, #f00);
  transition: fill 0.3s linear;
}

.buttons-container:has(.like-icon:active) .main-body {
  fill: var(--heart-color, #f00);
  transition: fill 0.3s 0.05s linear;
}

.buttons-container .like-icon.is-liked .core {
  fill: var(--heart-color, #f00);
  transition: fill 0.3s linear;
}

.buttons-container .like-icon.is-liked .main-body {
  fill: var(--heart-color, #f00);
  transition: fill 0.3s 0.05s linear;
}

.buttons-container .like-icon.is-liked .contour {
  fill: var(--heart-color, #f00);
  transition: fill 0.3s 0.06s linear;
}

.card__like-button {
  min-inline-size: 130px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color, #000);
  box-shadow: none;
  outline: none;
  overflow: hidden;
  font-family: var(--accent-font, "Press Start 2P"), sans-serif;
  font-size: 14px;
  line-height: 90%;
  background-color: var(--bg-color, #fff);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:hover::before {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color, #fff);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  mix-blend-mode: difference;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.button__save {
  gap: 8px;
  padding: 16px 18px;
}

@media (width<500px) {
  .button__save {
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 14px 18px;
  }
}

.button__save-floppy {
  width: 21px;
  height: 21px;
}

@media (width<500px) {
  .button__save-floppy {
    width: 28px;
    height: 28px;
  }
}

.button__save-text {
  padding-block-start: 4px;
}

.modal {
  border: var(--main-color, #000) solid 2px;
  padding: 28px;
  inline-size: 353px;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
  display: flex;
  gap: 20px;
  margin-block-end: 30px;
}

.modal-text {
  padding-top: 1px;
  font-family: var(--accent-font, "Press Start 2P"), sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.modal-floppy {
  width: 58px;
  height: 61px;
}

.modal-button {
  border: var(--main-color, #000) solid 2px;
  padding: 10.5px 17px;
  text-transform: uppercase;
  inline-size: 100%;
}

.filter_saturate {
  filter: saturate(300%);
}

.filter_sepia {
  filter: sepia(0.6);
}

.filter_hue-rotate {
  filter: hue-rotate(0.5turn);
}

.filter_blur {
  filter: blur(3px);
}

.filter_contrast {
  filter: contrast(200%);
}

.filter_grayscale {
  filter: grayscale(80%);
}

.filter_invert-drop-shadow {
  filter: invert(70%) drop-shadow(0 3px #ff0070);
}
