/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
--main-font: "Inter-Variable";
--main-font-weight-heading: 710;
--main-font-weight: 410;
--accent-font: "Press Start 2P";
--main-width:clamp(375px, 50vw, 700px);
--bg-gradient:repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px ), repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px ),linear-gradient(#e7e7e7 0.01%, #1a1a1a);
--main-color: #000;
--bg-color: #fff;
--heart-color:#f00;
}

